#admin{
    border-radius: 50%;
    margin-top: 20px;

}
#image-container figcaption{
   margin-top: 5px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
   font-size:larger;
   color: white;
}
#image-container{
    position: relative;
    background: rgb(10,7,52);
    background: linear-gradient(90deg, rgba(10,7,52,1) 0%, rgba(127,38,38,1) 65%, rgba(11,43,49,1) 100%);

}
#image-container #cam-icon{
    position: absolute;
    top: 310px;
    left: 55%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateX(-50%);
  width: 38px;
  height: 38px;
  background: #f8f8f8;
}
#image-container img{
    opacity: 0.8;
}
.user-list{
    width: 400px;
    height: 250px;
 
}
.list-container{
    margin-bottom: 70px;
}
