body{
    background: black;
    /* background: rgb(10,7,52);
    background: linear-gradient(90deg, rgba(10,7,52,1) 0%, rgba(127,38,38,1) 65%, rgba(11,43,49,1) 100%); */
}
@font-face {
    font-family: myFirstFont;
    src: url('fonts/Monoton-Regular.ttf');
  }
  .div a{
      width: fit-content;
      height: fit-content;
  }
.title{
    color: #1782a5;
    font-family: myFirstFont;
    margin-top: 5px;
    margin:30px 50px;
    width: fit-content;
    height: fit-content;
}

#admin{
    border-radius: 50%;
    margin-top: 20px;

}
#image-container figcaption{
   margin-top: 5px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
   font-size:larger;
   color: white;
}
#image-container{
    position: relative;
    /* background: rgb(10,7,52); */
    background: #1782a5;

}
#image-container #cam-icon{
    position: absolute;
    top: 310px;
    left: 55%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateX(-50%);
  width: 38px;
  height: 38px;
  background: #f8f8f8;
}
#image-container img{
    opacity: 0.8;
}
   

.table-data th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#3e4541;
    color: white;

}
.table-data td{
    border: 1px solid #ddd;
    padding: 10px;
}
.table-data{
    background: #1782a5;
color: white;
width: 100%;
padding: 5px 5px;
}

.nav-list{
    margin: 15px 15px;
}
.child-nav{
    margin: 5px 5px;
}
.table-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.table-container table th{
    padding: 6px 8px;
}
.table-container table td{
    color: black;
    font-weight: bold;
}
